.content-schedule *, .content-schedule *::after, *::before {
  box-sizing: border-box; }

.content-schedule {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden; }
  .content-schedule ul {
    list-style: none;
    padding: 0; }
  .content-schedule .timeline-schedule {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 68px;
    padding-left: 1px; }
    .content-schedule .timeline-schedule ul.hours li {
      position: relative;
      height: 60px; }
      .content-schedule .timeline-schedule ul.hours li::after, .content-schedule .timeline-schedule ul.hours li:nth-child(1)::before {
        left: 60px;
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background: #666; }
      .content-schedule .timeline-schedule ul.hours li::after {
        bottom: 0; }
      .content-schedule .timeline-schedule ul.hours li:nth-child(1)::before {
        top: 0; }
      .content-schedule .timeline-schedule ul.hours li:last-of-type::after {
        display: none; }
      .content-schedule .timeline-schedule ul.hours li span {
        display: inline-block;
        transform: translateY(-50%);
        font-weight: bold; }
      .content-schedule .timeline-schedule ul.hours li:nth-of-type(2n) span {
        font-weight: normal;
        color: #d8d8d8; }
  .content-schedule .week {
    position: relative;
    z-index: 1; }
    .content-schedule .week ul.weekdays {
      margin-left: 60px; }
      .content-schedule .week ul.weekdays li.weekday {
        width: calc(100%/7);
        float: left;
        margin-bottom: 30px;
        position: relative; }
        .content-schedule .week ul.weekdays li.weekday .name-day {
          width: 100%;
          padding: 0 5%;
          text-align: center;
          border-bottom: 4px solid #EAEAEA; }
          .content-schedule .week ul.weekdays li.weekday .name-day span {
            display: inline-block;
            padding: 10px;
            font-weight: bold; }
        .content-schedule .week ul.weekdays li.weekday ul.courses {
          border: 1px solid #EAEAEA;
          position: relative;
          top: 14px;
          width: 100%; }
          .content-schedule .week ul.weekdays li.weekday ul.courses li.course {
            border: 1px solid #999;
            background-color: #eee;
            width: 101%;
            position: absolute;
            display: table; }
            .content-schedule .week ul.weekdays li.weekday ul.courses li.course p {
              font-size: 10px;
              padding: 0 5px;
              margin: 2px 0;
              color: #111;
              overflow: hidden;
              display: table-cell;
              vertical-align: middle;
              width: 100%;
              text-align: center; }
              .content-schedule .week ul.weekdays li.weekday ul.courses li.course p .course-times, .content-schedule .week ul.weekdays li.weekday ul.courses li.course p .course-name {
                display: block;
                font-weight: bold; }
              .content-schedule .week ul.weekdays li.weekday ul.courses li.course p span.course-times {
                color: #333;
                font-size: 1.4rem;
                opacity: .7;
                line-height: 1.2;
                margin-bottom: .2em;
                margin-top: .5em; }
              .content-schedule .week ul.weekdays li.weekday ul.courses li.course p em.course-name {
                font-size: 12px; }

@media only screen and (max-width: 1000px) {
  .content-schedule .timeline-schedule {
    display: none; }
  .content-schedule .week ul.weekdays li.weekday {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #999;
    height: auto; }
    .content-schedule .week ul.weekdays li.weekday ul.courses {
      position: relative;
      display: flex;
      overflow-x: scroll;
      height: auto !important;
      top: 0; }
      .content-schedule .week ul.weekdays li.weekday ul.courses li.course {
        position: initial;
        height: 150px !important;
        flex-shrink: 0;
        float: left;
        width: 70%;
        max-width: 300px;
        margin-left: 20px; } }

@media only screen and (max-width: 1220px) {
  .content-schedule .timeline-schedule {
    padding-left: 0; }
    .content-schedule .timeline-schedule ul.hours li::after, .content-schedule .timeline-schedule ul.hours li:nth-child(1)::before {
      left: 0; }
    .content-schedule .timeline-schedule ul.hours li span {
      display: none; }
  .content-schedule .week ul.weekdays {
    margin-left: 0; } }

@media print {
  .content-schedule .timeline-schedule {
    padding-left: 0; }
    .content-schedule .timeline-schedule ul.hours li::after, .content-schedule .timeline-schedule ul.hours li:nth-child(1)::before {
      left: 0; }
    .content-schedule .timeline-schedule ul.hours li span {
      display: none; }
  .content-schedule .week ul.weekdays {
    margin-left: 0; }
    .content-schedule .week ul.weekdays li.weekday ul.courses {
      height: auto !important; }
      .content-schedule .week ul.weekdays li.weekday ul.courses li.course {
        position: initial; }
        .content-schedule .week ul.weekdays li.weekday ul.courses li.course p em {
          font-size: 9px !important; } }
